<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Clientes
    </ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="this.TipoCliente">
      <ion-segment-button value="Generales">Generales</ion-segment-button>
      <ion-segment-button value="Potenciales">Potenciales</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div [ngSwitch]="this.TipoCliente">
    <ng-container *ngFor="let contacto of this.Contactos[0]">
      <ion-item *ngSwitchCase="'Generales'">
        {{ contacto.razonSocial }} : {{ contacto.potencial }}
      </ion-item>
    </ng-container>
    <ng-container *ngFor="let contacto of this.Contactos[1]">
      <ion-item *ngSwitchCase="'Potenciales'">
        {{ contacto.razonSocial }} : {{ contacto.potencial }}
      </ion-item>
    </ng-container>
  </div>

</ion-content>